.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
  margin-left: 40px;
  margin-right: 40px;

  width: calc(100% - 80px);
  max-width: 900px;
  text-align: center;

  @media screen and (min-width: 420px) {
    margin-left: 75px;
    margin-right: 75px;
    width: calc(100% - 150px);
  }

  @media screen and (min-width: 900px) {
    margin-left: 120px;
    margin-right: 120px;
    width: calc(100% - 240px);
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.page-link {
  margin-left: 20px;
  min-width: 125px;
  margin-right: 40px;

  height: 20px;
  border-radius: 20px;
  border: 2px solid blue;
  padding: 1px 10px;
  background: yellow;

  font-family: Arial;
  font-size: 15px;
  color: blue;
  font-weight: bold;

  text-decoration: none;
  box-shadow: 0;

  &.active {
    text-decoration: underline;
    box-shadow: 1px 1px 10px;
  }
}

.link-icon {
  width: 34px;
  cursor: pointer;
}
