{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "overrides": [
    {
      "files": ["webpack.config.js", "vercel.json", "*.config.js"],
      "env": { "node": true },
      "parserOptions": { "sourceType": "script" }
    }
  ],
  "settings": { "react": { "version": "detect" } },
  "rules": {
    "prettier/prettier": ["error"],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off"
  }
}
